package pages

import (
    "critiqally/views/components"
)

templ Index() {
    <!DOCTYPE html>
    <html lang="en">
        @components.Head()
        <body>
            @components.Header()
            <main class="min-h-screen w-full">
                where am i
            </main>
        </body>
        @components.Footer()
    </html>
}